extends layout

block content
  h1=title
   - let Rabbits=results 
  div(class="container-fluid")
    div(class="row m-1")
      each Rabbit in Rabbits
        - let destination = `dispatch(\"/update/update?id=${Rabbit._id}\")`
        div(class="col-sm-2 "  class="m-1")  #{Rabbit.Name} - #{Rabbit.Cost} - #{Rabbit.Weight}
          button.btn( class="btn-primary"  class="m-1" class="btn-toolbar", onclick= destination) Update
  script.
  
      function dispatch(path)
      {
      window.location.href=path
      }